.content-wrapper {
  margin: 0 auto;
}

.dnd-section > .row-fluid {
  margin: 0 auto;
}

.dnd-section .dnd-column {
  padding: 0 10px;
}

@media (max-width: 767px) {
  .dnd-section .dnd-column {
    padding: 0 20px;
  }
}
