body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bg-primary {
    background: linear-gradient(to bottom, #000000 0%, #ff3399 100%);
}

h1 {
    text-align: center;
}

.question {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
}

button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}

