<!--
  templateType: none
-->

{% import '../partials/blog/author-page-header.html' %}
{% import '../partials/blog/tag-page-header.html' %}

<!doctype html>
<html lang="{{ html_lang }}" {{ html_lang_dir }}>
  <head>
    <meta charset="utf-8">
    {% if page_meta.html_title || pageTitle %}<title>{{ page_meta.html_title || pageTitle }}</title>{% endif %}
    {% if site_settings.favicon_src %}<link rel="shortcut icon" href="{{ site_settings.favicon_src }}" />{% endif %}
    <meta name="description" content="{{ page_meta.meta_description }}">
    {{ standard_header_includes }}

    {# schema.org #}
    {% module 'seo_schema'
      path='../../modules/seo-schema'
    %}

    {{ require_css(get_asset_url('../../css/main.css')) }}

    {% if template_css %}
      {{ require_css(get_asset_url(template_css)) }}
    {% endif %}

    {{ require_css(get_asset_url('../../css/theme-overrides.css')) }}
  </head>
  <body>
    <div class="body-wrapper {{ builtin_body_classes }}">
    <button id="goTop" onclick="goToTop()" aria-label="Go to top">
      {% icon
        name='chevron-up'
        style='SOLID'
        unicode='f077'
        purpose='decorative'
      %}
    </button>
      {% block header %}
        {% global_partial path='../partials/header.html' %}
      {% endblock header %}

      {# Blog author page header #}

      {% if blog_author %}
        {{ print_blog_author_page_header() }}
      {% endif %}

      {# Blog tag page header #}

      {% if tag %}
        {{ print_blog_tag_page_header() }}
      {% endif %}

      <main id="main-content" class="body-container-wrapper">
        {% block body %}
        {% endblock body %}
      </main>

      {% block footer %}
        {% global_partial path='../partials/footer.html' %}
      {% endblock footer %}
    </div>

    {{ require_js(get_asset_url('../../js/main.js')) }}

    {{ standard_footer_includes }}
  </body>
</html>
