.play_grid-container {
  display: flex;
  align-items: flex-start;
}

.play_grid-inner {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  gap: 60px 0;
  align-items: flex-start;
}

/* 1 col */
/* 1 + 2 col */
/* 1 + 3 col */

.play_grid--1col,
.play_grid--1_2col,
.play_grid--1_3col,
.play_grid--list {
  flex: 0 0 100%;
}

/* 2 col */
/* 2 + 1 col */
/* 2 + 3 col */

.play_grid--2col,
.play_grid--2_1col,
.play_grid--2_3col {
  flex: 0 0 50%;
}

.play_grid--2col.mgi-col1,
.play_grid--2_1col.mgi-2_1col-1,
.play_grid--2_3col.mgi-2_3col-1 {
  padding-right: 30px;
}

.play_grid--2col.mgi-col2,
.play_grid--2_1col.mgi-2_1col-2,
.play_grid--2_3col.mgi-2_3col-2 {
  padding-left: 30px;
}

/* 3 col */
/* 3 + 1 col */
/* 3 + 2 col */

.play_grid--3col,
.play_grid--3_1col,
.play_grid--3_2col {
  flex: 0 0 33.3333%;
}

.play_grid--3col.mgi-col1,
.play_grid--3_1col.mgi-3_1col-1,
.play_grid--3_2col.mgi-3_2col-1 {
  padding-right: 40px;
}

.play_grid--3col.mgi-col2,
.play_grid--3_1col.mgi-3_1col-2,
.play_grid--3_2col.mgi-3_2col-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.play_grid--3col.mgi-col3,
.play_grid--3_1col.mgi-3_1col-3,
.play_grid--3_2col.mgi-3_2col-3 {
  padding-left: 40px;
}

@media (max-width: 1138px) {
  /* 2 col + sidebar */
  /* 2 + 1 col + sidebar */

  .play_grid--2col.ms_vis,
  .play_grid--2_1col.ms_vis {
    flex: 0 0 100%;
  }

  .play_grid--2col.mgi-col1.ms_vis,
  .play_grid--2col.mgi-col2.ms_vis,
  .play_grid--2_1col.mgi-2_1col-1.ms_vis,
  .play_grid--2_1col.mgi-2_1col-2.ms_vis {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 1000px) {
  /* 2 col */
  /* 2 + 1 col */
  /* 2 + 3 col */

  .play_grid--2col.mgi-col1,
  .play_grid--2_1col.mgi-2_1col-1,
  .play_grid--2_3col.mgi-2_3col-1 {
    padding-right: 20px;
  }

  .play_grid--2col.mgi-col2,
  .play_grid--2_1col.mgi-2_1col-2,
  .play_grid--2_3col.mgi-2_3col-2 {
    padding-left: 20px;
  }

  /* 3 col */

  .play_grid--3col {
    flex: 0 0 calc(100% / 2);
  }

  .play_grid--3col.mgi-col1 {
    padding-right: 20px;
  }

  .play_grid--3col.mgi-col1:nth-child(2n) {
    padding-left: 20px;
    padding-right: 0;
  }

  .play_grid--3col.mgi-col2 {
    padding-right: 0;
  }

  .play_grid--3col.mgi-col2:nth-child(2n + 1) {
    padding-left: 0;
    padding-right: 20px;
  }

  .play_grid--3col.mgi-col3 {
    padding-left: 0;
    padding-right: 20px;
  }

  .play_grid--3col.mgi-col3:nth-child(2n + 2) {
    padding-left: 20px;
    padding-right: 0;
  }

  /* 3 + 1 col */
  /* 3 + 2 col */

  .play_grid--3_1col,
  .play_grid--3_2col {
    flex: 0 0 100%;
  }

  .play_grid--3_1col.mgi-3_1col-1,
  .play_grid--3_1col.mgi-3_1col-2,
  .play_grid--3_1col.mgi-3_1col-3,
  .play_grid--3_2col.mgi-3_2col-1,
  .play_grid--3_2col.mgi-3_2col-2,
  .play_grid--3_2col.mgi-3_2col-3 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 767px) {
  .play_grid--2col,
  .play_grid--2_1col,
  .play_grid--2_3col,
  .play_grid--3col {
    flex: 0 0 100%;
  }

  .play_grid--2col.mgi-col1,
  .play_grid--2col.mgi-col2,
  .play_grid--2_1col.mgi-2_1col-1,
  .play_grid--2_1col.mgi-2_1col-2,
  .play_grid--2_3col.mgi-2_3col-1,
  .play_grid--2_3col.mgi-2_3col-2,
  .play_grid--3col.mgi-col1,
  .play_grid--3col.mgi-col2,
  .play_grid--3col.mgi-col3,
  .play_grid--3col.mgi-col1:nth-child(2n),
  .play_grid--3col.mgi-col2:nth-child(2n + 1),
  .play_grid--3col.mgi-col3:nth-child(2n + 2) {
    padding-left: 0;
    padding-right: 0;
  }
}

/* Masonry */

.play_grid-container.play_grid-masonry2,
.play_grid-inner.play_grid-masonry2,
.play_grid-container.play_grid-masonry3,
.play_grid-inner.play_grid-masonry3 {
  display: block;
}

.play_grid-container.play_grid-masonry2.ms_vis {
  display: flex;
}

.play_grid-inner.play_grid-masonry2.ms_vis {
  display: block;
  width: 100%;
}

.play_grid-item {
  margin-bottom: 60px;
}

/* 2 columns */

.play_grid-masonry2 .play_grid-sizer,
.play_grid-masonry2 .play_grid-item {
  width: calc(50% - 30px);
}

/* 3 columns */

.play_grid-masonry3 .play_grid-sizer,
.play_grid-masonry3 .play_grid-item {
  width: calc(33.3333% - 40px);
}

.play_grid-gutter-sizer {
  width: 60px;
}

@media (max-width: 1138px) {
  /* 2 columns */

  .play_grid-masonry2.ms_vis .play_grid-sizer,
  .play_grid-masonry2.ms_vis .play_grid-item {
    width: 100%;
  }

  .play_grid-masonry2.ms_vis .play_grid-gutter-sizer {
    width: 0;
  }
}

@media (max-width: 1000px) {
  /* 3 columns */

  .play_grid-masonry3 .play_grid-sizer,
  .play_grid-masonry3 .play_grid-item {
    width: calc(50% - 30px);
  }
}

@media (max-width: 767px) {
  .play_grid-masonry2 .play_grid-sizer,
  .play_grid-masonry2 .play_grid-item,
  .play_grid-masonry3 .play_grid-sizer,
  .play_grid-masonry3 .play_grid-item {
    width: 100%;
  }

  .play_grid-gutter-sizer {
    width: 0;
  }
}
